@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FiskeForum</h1>
</div>


@foreach (var category in Model.Categories)
{
    <table>
        <tr class="d-lg-table-row">
            <th>@category.Name</th>
        </tr>
        @foreach (var subCategory in Model.SubCategories)
        {
            @if (subCategory.CategoryId == category.Id)
            {
                <tr>
                    <td><a asp-route-subCategoryId="@subCategory.Id"> @subCategory.Name</a></td>
                </tr>
            }
        }
    </table>
}


