@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FiskeForum</h1>
</div>


@foreach (var category in Model.Categories)
{
    <div class="">
        <div class="col-7 mx-auto category">
            <div class="px-2">@category.Name</div>
        </div>
        @foreach (var subCategory in Model.SubCategories)
        {
            @if (subCategory.CategoryId == category.Id)
            {
                <div class="col-7 mx-auto subCategory">
                    <a asp-route-subCategoryId="@subCategory.Id" class="link px-4 text-black"> @subCategory.Name</a>
                </div>
            }
        }
    </div>
}


