@page
@model AdminReportedMessagesModel
@{
}



@foreach (var post in Model.Posts)
{
    <div class="postText row g-2">

        <div class="col border border-secondary ">@post.Text</div>
        <a asp-route-deleteId="@post.Id" class="text-danger col-sm-2 align-content-end">Remove</a>
    </div>

}
