html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.post {
}

.postUser {
    background-color: #EEEEEE;
}

.postText {
    background-color: #EEEEEE;
}

.postFooter {
    background-color: #686D76;
}

.postFooter a {
    color: #76ABAE;
}

.postFooter a:hover {
    color: #C4FB6D;
}
